<table *ngIf="!thereIsAErrorChild && lsCountriesChild.length > 0" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bandera</th>
      <th scope="col" class="country-name">Nombre</th>
      <th scope="col" class="country-name">Capital</th>
      <th scope="col">Población</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let country of lsCountriesChild; let i = index">
    <tr>
      <th scope="row">{{ i }}</th>
      <td><img src="{{ country.flags.png }}" class="img-flag" /></td>
      <td class="country-name">{{ country.name.common }}</td>
      <td class="country-name">{{ country.capital }}</td>
      <td>{{ country.population | number }}</td>
      <td><a [routerLink]="['/pais', country.cca2]">ver mas...</a></td>
    </tr>
  </tbody>
</table>
